@font-face{
    font-family: 'MultiBold';
    src: url('/assets/fonts/Muli-Bold.ttf');
}
@font-face{
    font-family: 'MultiBoldItalic';
    src: url('/assets/fonts/Muli-BoldItalic.ttf');
}
@font-face{
    font-family: 'MultiExtraBold';
    src: url('/assets/fonts/Muli-ExtraBold.woff');
}
@font-face{
    font-family: 'MultiItalic';
    src: url('/assets/fonts/Muli-Italic.ttf');
}
@font-face{
    font-family: 'MultiRegular';
    src: url('/assets/fonts/Muli-Regular.woff');
}
@font-face{
    font-family: 'MultiSemiBoldItalic';
    src: url('/assets/fonts/Muli-Semi-BoldItalic.ttf');
}

html, body {
    font-family: 'MultiRegular';
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
}

header {
    background: url(/assets/images/header/bg-img-header.png);
    height: 100vh;
}

.header__nav {
    color: #ffffff;
}

.header__list {
    list-style-type: none;
    padding: 0;
}

.header__list-link {
    color: #ffffff;
    text-decoration: none;
}

.personal__list {
    list-style-type: none;
}
.personal__list-link--cart {
    position: relative;
}
.personal__count {
    text-align: center;
    width: 18px;
    height: 18px;
    background-color: #ffffff;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    /*border-radius: 2px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    */
}

.btn {
    width: 280px;
    height: 70px;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
}

.btn--green{
    background-color: #0aa566;
    color: white;
}